body
{ background-image: url("sfondo.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#titolo
{ width: 260px;
  margin-left: auto; 
  margin-right: auto;
  font: normal 100% 'century gothic', arial;
  font-size: 20 pt;
  color: white;
  letter-spacing: 0.1em;
  padding: 25px 0 0 0;
}

#par
{ padding: 4px 2px 3px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
}
